In [1]:
import re
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pandas import DataFrame
import collections
from datetime import datetime
import sys
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error, r2_score
import csv
from collections import defaultdict

In [2]:
from __future__ import division
from sklearn import datasets
from sklearn.cluster import KMeans
import sklearn.metrics as sm
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn import tree
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [3]:
data = pd.read_csv("C:/Users/barnesll/Documents/Python/Jupyter/psAveTest.csv", engine='python')

In [4]:
df = pd.DataFrame(data)
df

,CB-ISEA,Refined Common Name,Refined Command Name,Count,Total Days,Average Lifetime
0,MARITIME/EXPEDITIONARY C2,GCCS-J,THIRD FLEET,1,125,125.000000
1,MARITIME/EXPEDITIONARY C2,GCCS-M,GREEN BAY,2,8,4.000000
2,MARITIME/EXPEDITIONARY C2,GCCS-M,CARNEY,1,7,7.000000
3,MARITIME/EXPEDITIONARY C2,GCCS-M,SAMPSON,3,230,76.666667
4,MARITIME/EXPEDITIONARY C2,GCCS-M,ANCHORAGE,1,2,2.000000
5,MARITIME/EXPEDITIONARY C2,GCCS-M,BONHOMME RICHARD,1,8,8.000000
6,MARITIME/EXPEDITIONARY C2,GCCS-M,PINCKNEY,1,70,70.000000
7,MARITIME/EXPEDITIONARY C2,GCCS-M,BUNKER HILL,5,241,48.200000
8,MARITIME/EXPEDITIONARY C2,GCCS-M,GABRIELLE GIFFORDS,1,2,2.000000
9,MARITIME/EXPEDITIONARY C2,GCCS-M,SSC LANT,1,3,3.000000
10,MARITIME/EXPEDITIONARY C2,GCCS-M,PORTLAND,1,1,1.000000
11,MARITIME/EXPEDITIONARY C2,GCCS-M,ANTIETAM,3,118,39.333333
12,MARITIME/EXPEDITIONARY C2,GCCS-M,STOUT,1,1,1.000000
13,MARITIME/EXPEDITIONARY C2,GCCS-M,MOUNT WHITNEY,5,64,12.800000
14,MARITIME/EXPEDITIONARY C2,GCCS-M,LEYTE GULF,1,2,2.000000
15,MARITIME/EXPEDITIONARY C2,GCCS-M,PORTER,1,8,8.000000
16,MARITIME/EXPEDITIONARY C2,GCCS-M,MUSTIN,1,0,0.000000
17,MARITIME/EXPEDITIONARY C2,GCCS-M,PATRIOT,1,11,11.000000
18,MARITIME/EXPEDITIONARY C2,GCCS-M,NITZE,1,2,2.000000
19,MARITIME/EXPEDITIONARY C2,GCCS-M,CHIEF,2,10,5.000000
20,MARITIME/EXPEDITIONARY C2,GCCS-M,IWO JIMA,3,104,34.666667
21,MARITIME/EXPEDITIONARY C2,GCCS-M,GONZALEZ,1,0,0.000000
22,MARITIME/EXPEDITIONARY C2,GCCS-M,SPRUANCE,1,10,10.000000
23,MARITIME/EXPEDITIONARY C2,GCCS-M,JOHN P MURTHA,1,6,6.000000
24,MARITIME/EXPEDITIONARY C2,GCCS-M,SHILOH,2,117,58.500000
25,MARITIME/EXPEDITIONARY C2,GCCS-M,COLUMBIA,1,228,228.000000
26,MARITIME/EXPEDITIONARY C2,GCCS-M,LAKE ERIE,4,6,1.500000
27,MARITIME/EXPEDITIONARY C2,GCCS-M,GEORGE H W BUSH,2,26,13.000000
28,MARITIME/EXPEDITIONARY C2,GCCS-M,COLE,1,118,118.000000
29,MARITIME/EXPEDITIONARY C2,GCCS-M,SAN DIEGO,1,0,0.000000
...,...,...,...,...,...,...
330,APPLICATIONS,NTCSS,MICHAEL MURPHY,4,45,11.250000
331,APPLICATIONS,NTCSS,MASON,1,37,37.000000
332,APPLICATIONS,NTCSS,JOHN PAUL JONES,2,15,7.500000
333,APPLICATIONS,NTCSS,COMSTOCK,6,90,15.000000
334,APPLICATIONS,NTCSS,RONALD REAGAN,3,45,15.000000
335,APPLICATIONS,NTCSS,RAFAEL PERALTA,2,30,15.000000
336,APPLICATIONS,NTCSS,O'KANE,1,15,15.000000
337,APPLICATIONS,NTCSS,OSCAR AUSTIN,2,59,29.500000
338,APPLICATIONS,NTCSS,BOXER,3,30,10.000000
339,APPLICATIONS,NTCSS,ROSS,1,0,0.000000
340,APPLICATIONS,NTCSS,CHUNG-HOON,4,60,15.000000
341,APPLICATIONS,NTCSS,RUSHMORE,3,45,15.000000
342,APPLICATIONS,NTCSS,BLUE RIDGE,2,22,11.000000
343,APPLICATIONS,NTCSS,FORT MCHENRY,2,26,13.000000
344,APPLICATIONS,NTCSS,WINSTON S CHURCHILL,3,147,49.000000
345,APPLICATIONS,NTCSS,GERMANTOWN,1,15,15.000000
346,APPLICATIONS,NTCSS,PEARL HARBOR,1,15,15.000000
347,APPLICATIONS,NTCSS,CHAMPION,4,60,15.000000
348,APPLICATIONS,NTCSS,DEXTROUS,1,61,61.000000
349,APPLICATIONS,NTCSS,MAHAN,2,92,46.000000
350,APPLICATIONS,NTCSS,MICHAEL MONSOOR,1,30,30.000000
351,APPLICATIONS,NTCSS,NIMITZ,5,60,12.000000
352,APPLICATIONS,NTCSS,SSC LANT NORFOLK,22,516,23.454545
353,APPLICATIONS,NTCSS,HARRY S TRUMAN,2,30,15.000000
354,APPLICATIONS,NTCSS,US FLEET FORCES COMMAND,4,60,15.000000
355,APPLICATIONS,NTCSS,NORMANDY,2,41,20.500000
356,APPLICATIONS,NTCSS,WASP,2,30,15.000000
357,APPLICATIONS,NTCSS,SOMERSET,2,15,7.500000
358,APPLICATIONS,NTCSS,AMERICA,5,75,15.000000
359,APPLICATIONS,NTCSS,GUNSTON HALL,3,70,2.000000

In [5]:
df2 = df.dropna(axis=0, how='any')
print(df2.shape)
df2

(360, 6)

,CB-ISEA,Refined Common Name,Refined Command Name,Count,Total Days,Average Lifetime
0,MARITIME/EXPEDITIONARY C2,GCCS-J,THIRD FLEET,1,125,125.000000
1,MARITIME/EXPEDITIONARY C2,GCCS-M,GREEN BAY,2,8,4.000000
2,MARITIME/EXPEDITIONARY C2,GCCS-M,CARNEY,1,7,7.000000
3,MARITIME/EXPEDITIONARY C2,GCCS-M,SAMPSON,3,230,76.666667
4,MARITIME/EXPEDITIONARY C2,GCCS-M,ANCHORAGE,1,2,2.000000
5,MARITIME/EXPEDITIONARY C2,GCCS-M,BONHOMME RICHARD,1,8,8.000000
6,MARITIME/EXPEDITIONARY C2,GCCS-M,PINCKNEY,1,70,70.000000
7,MARITIME/EXPEDITIONARY C2,GCCS-M,BUNKER HILL,5,241,48.200000
8,MARITIME/EXPEDITIONARY C2,GCCS-M,GABRIELLE GIFFORDS,1,2,2.000000
9,MARITIME/EXPEDITIONARY C2,GCCS-M,SSC LANT,1,3,3.000000
10,MARITIME/EXPEDITIONARY C2,GCCS-M,PORTLAND,1,1,1.000000
11,MARITIME/EXPEDITIONARY C2,GCCS-M,ANTIETAM,3,118,39.333333
12,MARITIME/EXPEDITIONARY C2,GCCS-M,STOUT,1,1,1.000000
13,MARITIME/EXPEDITIONARY C2,GCCS-M,MOUNT WHITNEY,5,64,12.800000
14,MARITIME/EXPEDITIONARY C2,GCCS-M,LEYTE GULF,1,2,2.000000
15,MARITIME/EXPEDITIONARY C2,GCCS-M,PORTER,1,8,8.000000
16,MARITIME/EXPEDITIONARY C2,GCCS-M,MUSTIN,1,0,0.000000
17,MARITIME/EXPEDITIONARY C2,GCCS-M,PATRIOT,1,11,11.000000
18,MARITIME/EXPEDITIONARY C2,GCCS-M,NITZE,1,2,2.000000
19,MARITIME/EXPEDITIONARY C2,GCCS-M,CHIEF,2,10,5.000000
20,MARITIME/EXPEDITIONARY C2,GCCS-M,IWO JIMA,3,104,34.666667
21,MARITIME/EXPEDITIONARY C2,GCCS-M,GONZALEZ,1,0,0.000000
22,MARITIME/EXPEDITIONARY C2,GCCS-M,SPRUANCE,1,10,10.000000
23,MARITIME/EXPEDITIONARY C2,GCCS-M,JOHN P MURTHA,1,6,6.000000
24,MARITIME/EXPEDITIONARY C2,GCCS-M,SHILOH,2,117,58.500000
25,MARITIME/EXPEDITIONARY C2,GCCS-M,COLUMBIA,1,228,228.000000
26,MARITIME/EXPEDITIONARY C2,GCCS-M,LAKE ERIE,4,6,1.500000
27,MARITIME/EXPEDITIONARY C2,GCCS-M,GEORGE H W BUSH,2,26,13.000000
28,MARITIME/EXPEDITIONARY C2,GCCS-M,COLE,1,118,118.000000
29,MARITIME/EXPEDITIONARY C2,GCCS-M,SAN DIEGO,1,0,0.000000
...,...,...,...,...,...,...
330,APPLICATIONS,NTCSS,MICHAEL MURPHY,4,45,11.250000
331,APPLICATIONS,NTCSS,MASON,1,37,37.000000
332,APPLICATIONS,NTCSS,JOHN PAUL JONES,2,15,7.500000
333,APPLICATIONS,NTCSS,COMSTOCK,6,90,15.000000
334,APPLICATIONS,NTCSS,RONALD REAGAN,3,45,15.000000
335,APPLICATIONS,NTCSS,RAFAEL PERALTA,2,30,15.000000
336,APPLICATIONS,NTCSS,O'KANE,1,15,15.000000
337,APPLICATIONS,NTCSS,OSCAR AUSTIN,2,59,29.500000
338,APPLICATIONS,NTCSS,BOXER,3,30,10.000000
339,APPLICATIONS,NTCSS,ROSS,1,0,0.000000
340,APPLICATIONS,NTCSS,CHUNG-HOON,4,60,15.000000
341,APPLICATIONS,NTCSS,RUSHMORE,3,45,15.000000
342,APPLICATIONS,NTCSS,BLUE RIDGE,2,22,11.000000
343,APPLICATIONS,NTCSS,FORT MCHENRY,2,26,13.000000
344,APPLICATIONS,NTCSS,WINSTON S CHURCHILL,3,147,49.000000
345,APPLICATIONS,NTCSS,GERMANTOWN,1,15,15.000000
346,APPLICATIONS,NTCSS,PEARL HARBOR,1,15,15.000000
347,APPLICATIONS,NTCSS,CHAMPION,4,60,15.000000
348,APPLICATIONS,NTCSS,DEXTROUS,1,61,61.000000
349,APPLICATIONS,NTCSS,MAHAN,2,92,46.000000
350,APPLICATIONS,NTCSS,MICHAEL MONSOOR,1,30,30.000000
351,APPLICATIONS,NTCSS,NIMITZ,5,60,12.000000
352,APPLICATIONS,NTCSS,SSC LANT NORFOLK,22,516,23.454545
353,APPLICATIONS,NTCSS,HARRY S TRUMAN,2,30,15.000000
354,APPLICATIONS,NTCSS,US FLEET FORCES COMMAND,4,60,15.000000
355,APPLICATIONS,NTCSS,NORMANDY,2,41,20.500000
356,APPLICATIONS,NTCSS,WASP,2,30,15.000000
357,APPLICATIONS,NTCSS,SOMERSET,2,15,7.500000
358,APPLICATIONS,NTCSS,AMERICA,5,75,15.000000
359,APPLICATIONS,NTCSS,GUNSTON HALL,3,70,2.000000

In [6]:
cbisea = df2['CB-ISEA']
for column1 in cbisea:             #data.columns
    if data['CB-ISEA'].dtype == type(object):
        le = preprocessing.LabelEncoder()
        data['CB-ISEA'] = le.fit_transform(data['CB-ISEA'].astype(str))

In [7]:
common_names = df2['Refined Common Name']
for column2 in common_names:        #data.columns
    if data['Refined Common Name'].dtype == type(object):
        le = preprocessing.LabelEncoder()
        data['Refined Common Name'] = le.fit_transform(data['Refined Common Name'].astype(str))

In [8]:
command_names = df2['Refined Command Name']
for column3 in command_names:      #data.columns
    if data['Refined Command Name'].dtype == type(object):
        le = preprocessing.LabelEncoder()
        data['Refined Command Name'] = le.fit_transform(data['Refined Command Name'].astype(str))

In [9]:
df

,CB-ISEA,Refined Common Name,Refined Command Name,Count,Total Days,Average Lifetime
0,2,8,168,1,125,125.000000
1,2,9,52,2,8,4.000000
2,2,9,20,1,7,7.000000
3,2,9,147,3,230,76.666667
4,2,9,3,1,2,2.000000
5,2,9,14,1,8,8.000000
6,2,9,131,1,70,70.000000
7,2,9,17,5,241,48.200000
8,2,9,46,1,2,2.000000
9,2,9,158,1,3,3.000000
10,2,9,135,1,1,1.000000
11,2,9,4,3,118,39.333333
12,2,9,164,1,1,1.000000
13,2,9,100,5,64,12.800000
14,2,9,80,1,2,2.000000
15,2,9,134,1,8,8.000000
16,2,9,109,1,0,0.000000
17,2,9,127,1,11,11.000000
18,2,9,120,1,2,2.000000
19,2,9,25,2,10,5.000000
20,2,9,65,3,104,34.666667
21,2,9,51,1,0,0.000000
22,2,9,157,1,10,10.000000
23,2,9,69,1,6,6.000000
24,2,9,154,2,117,58.500000
25,2,9,29,1,228,228.000000
26,2,9,77,4,6,1.500000
27,2,9,47,2,26,13.000000
28,2,9,27,1,118,118.000000
29,2,9,148,1,0,0.000000
...,...,...,...,...,...,...
330,0,10,94,4,45,11.250000
331,0,10,88,1,37,37.000000
332,0,10,70,2,15,7.500000
333,0,10,30,6,90,15.000000
334,0,10,142,3,45,15.000000
335,0,10,139,2,30,15.000000
336,0,10,123,1,15,15.000000
337,0,10,125,2,59,29.500000
338,0,10,15,3,30,10.000000
339,0,10,144,1,0,0.000000
340,0,10,26,4,60,15.000000
341,0,10,145,3,45,15.000000
342,0,10,13,2,22,11.000000
343,0,10,45,2,26,13.000000
344,0,10,182,3,147,49.000000
345,0,10,48,1,15,15.000000
346,0,10,129,1,15,15.000000
347,0,10,22,4,60,15.000000
348,0,10,36,1,61,61.000000
349,0,10,83,2,92,46.000000
350,0,10,93,1,30,30.000000
351,0,10,119,5,60,12.000000
352,0,10,159,22,516,23.454545
353,0,10,58,2,30,15.000000
354,0,10,175,4,60,15.000000
355,0,10,121,2,41,20.500000
356,0,10,178,2,30,15.000000
357,0,10,156,2,15,7.500000
358,0,10,2,5,75,15.000000
359,0,10,54,3,70,2.000000

In [10]:
df2 = df.dropna(axis=0, how='any')
print(df2.shape)
df2

(360, 6)

,CB-ISEA,Refined Common Name,Refined Command Name,Count,Total Days,Average Lifetime
0,2,8,168,1,125,125.000000
1,2,9,52,2,8,4.000000
2,2,9,20,1,7,7.000000
3,2,9,147,3,230,76.666667
4,2,9,3,1,2,2.000000
5,2,9,14,1,8,8.000000
6,2,9,131,1,70,70.000000
7,2,9,17,5,241,48.200000
8,2,9,46,1,2,2.000000
9,2,9,158,1,3,3.000000
10,2,9,135,1,1,1.000000
11,2,9,4,3,118,39.333333
12,2,9,164,1,1,1.000000
13,2,9,100,5,64,12.800000
14,2,9,80,1,2,2.000000
15,2,9,134,1,8,8.000000
16,2,9,109,1,0,0.000000
17,2,9,127,1,11,11.000000
18,2,9,120,1,2,2.000000
19,2,9,25,2,10,5.000000
20,2,9,65,3,104,34.666667
21,2,9,51,1,0,0.000000
22,2,9,157,1,10,10.000000
23,2,9,69,1,6,6.000000
24,2,9,154,2,117,58.500000
25,2,9,29,1,228,228.000000
26,2,9,77,4,6,1.500000
27,2,9,47,2,26,13.000000
28,2,9,27,1,118,118.000000
29,2,9,148,1,0,0.000000
...,...,...,...,...,...,...
330,0,10,94,4,45,11.250000
331,0,10,88,1,37,37.000000
332,0,10,70,2,15,7.500000
333,0,10,30,6,90,15.000000
334,0,10,142,3,45,15.000000
335,0,10,139,2,30,15.000000
336,0,10,123,1,15,15.000000
337,0,10,125,2,59,29.500000
338,0,10,15,3,30,10.000000
339,0,10,144,1,0,0.000000
340,0,10,26,4,60,15.000000
341,0,10,145,3,45,15.000000
342,0,10,13,2,22,11.000000
343,0,10,45,2,26,13.000000
344,0,10,182,3,147,49.000000
345,0,10,48,1,15,15.000000
346,0,10,129,1,15,15.000000
347,0,10,22,4,60,15.000000
348,0,10,36,1,61,61.000000
349,0,10,83,2,92,46.000000
350,0,10,93,1,30,30.000000
351,0,10,119,5,60,12.000000
352,0,10,159,22,516,23.454545
353,0,10,58,2,30,15.000000
354,0,10,175,4,60,15.000000
355,0,10,121,2,41,20.500000
356,0,10,178,2,30,15.000000
357,0,10,156,2,15,7.500000
358,0,10,2,5,75,15.000000
359,0,10,54,3,70,2.000000

In [11]:
df3 = df2.drop(['Count', 'Total Days'], axis=1)
df3
df3.to_csv("orangefile.csv")

In [12]:
df4 = df3.drop(['Average Lifetime'], axis=1)
df4

     CB-ISEA  Refined Common Name  Refined Command Name
0          2                    8                   168
1          2                    9                    52
2          2                    9                    20
3          2                    9                   147
4          2                    9                     3
5          2                    9                    14
6          2                    9                   131
7          2                    9                    17
8          2                    9                    46
9          2                    9                   158
10         2                    9                   135
11         2                    9                     4
12         2                    9                   164
13         2                    9                   100
14         2                    9                    80
15         2                    9                   134
16         2                    9                   109
17         2                    9                   127
18         2                    9                   120
19         2                    9                    25
20         2                    9                    65
21         2                    9                    51
22         2                    9                   157
23         2                    9                    69
24         2                    9                   154
25         2                    9                    29
26         2                    9                    77
27         2                    9                    47
28         2                    9                    27
29         2                    9                   148
..       ...                  ...                   ...
330        0                   10                    94
331        0                   10                    88
332        0                   10                    70
333        0                   10                    30
334        0                   10                   142
335        0                   10                   139
336        0                   10                   123
337        0                   10                   125
338        0                   10                    15
339        0                   10                   144
340        0                   10                    26
341        0                   10                   145
342        0                   10                    13
343        0                   10                    45
344        0                   10                   182
345        0                   10                    48
346        0                   10                   129
347        0                   10                    22
348        0                   10                    36
349        0                   10                    83
350        0                   10                    93
351        0                   10                   119
352        0                   10                   159
353        0                   10                    58
354        0                   10                   175
355        0                   10                   121
356        0                   10                   178
357        0                   10                   156
358        0                   10                     2
359        0                   10                    54

[360 rows x 3 columns]

In [13]:
df4.columns[0:]
psTix_array = np.array(df4[0:])
#psTix_array = df4.as_matrix(columns=df4.columns[0:]) # as_matrix will be removed in future version of numpy
print(psTix_array)

[[  2   8 168]
 [  2   9  52]
 [  2   9  20]
 ...
 [  0  10 156]
 [  0  10   2]
 [  0  10  54]]

In [14]:
#Examples

# Each CB-ISEA will be assigned an unique identifier
#CB-ISEA:
#Application - 0
#Tactical Data Links - 13
#TACNET - 7

# Each Refined Common Name will be assigned an unique identifier
#Common Name:
#MFOM - 3
#TCDL - 5
#LMMT - 10
#CDLS - 11

# Each Refined Command Name will be assigned an unique identifier
#Command Name:
#SSC LANT - 1
#SSC PAC - 5
#Third Fleet - 4
#Ronald Reagan - 12

In [15]:
life_array = np.array(df3['Average Lifetime'], dtype=int)
print(life_array)

[125   4   7  76   2   8  70  48   2   3   1  39   1  12   2   8   0  11
   2   5  34   0  10   6  58 228   1  13 118   0  12   0 104   5   4   3
   3   4  75  78  74   3   7  14  42  60   4   3  86   9   5   0   3   6
   5  11  14 168  37  92   4  63   0   2   2   4  17  14  46   1   8   4
  28  25   3  70   3   7 100   4   2  18   2   8   3   2  30  22  13  40
  14  69  17   7  27  14   6   7  28  22  59  56  28  33  14  24  12  27
  56  24   2  17  14   9  20  14  60  34  35  60   5  15  15   0  10   6
  26   4   6   0  46   5   1   5  14  22   0   0   0  11  19   7   4   7
   7   0   7   0   0   0   4   4   2   4   0   3   5   7   7   0   0   1
   4  21  15   9   0   7   0   0   0   8   0  13   0   3   0  12   9  15
   9   0   1   8  20  10   0  10  45  45  10  21  31  16  25  40  26 135
  42   8  21  25  23  68   3  27  38   6  36  19  14   7  16  11   0 109
   0   0   3  30   7 107   8   2   0   1   2   1   0   0   0   0   0   0
   6   0 363   4   0   0   0   0   1   2   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   3   0   6
   6   3   3  15  15   0   7  15  15  57  15  40  15  18  21  15  18  15
  52  15  26  13  59  10  62  23  19  15  15  12  15  15  15  21  37  15
   5  15  15  15  11 177  15  25  16  16  16  22  17   7  15  24   2   8
  21  12   7  15  15   7  11  37   7  15  15  15  15  29  10   0  15  15
  11  13  49  15  15  15  61  46  30  12  23  15  15  20  15   7  15   2]

In [16]:
# [Incident Ticket Features: CB-ISEA, Common Name, Command]
#features = [[0, 3, 1], [13, 5, 5], [13, 10, 4], [7, 11, 12]]
features = psTix_array

In [17]:
# Average days to complete ticket
#labels = [80, 60, 25, 40]
labels = life_array

In [18]:
# Create classifier (Machine Learning Algorithms)
#clf = tree.DecisionTreeClassifier()    # Decision Tree Algorithm
#clf = RandomForestClassifier()    # Random Forest Classifier Algorithm
#clf = svm.svc()    # Support Vector Machine Algorithm
clf = RandomForestRegressor()
clf = clf.fit(features, labels)

C:\ProgramData\Anaconda3\envs\py37\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [19]:
# Prediction based off given data:
predictions = clf.predict(psTix_array)  #clf.predict([[3, 13, 219], [3, 14, 69], [4, 18, 4], [5, 19, 76]]) # should return [125, 4, 0, 0]
#predictions = clf.predict([[13, 5, 5], [7, 11, 12], [13, 10, 4], [0, 3, 1]])
print(predictions)

[6.540e+01 3.200e+00 9.000e+00 5.400e+01 5.700e+00 6.000e+00 5.660e+01
 3.450e+01 2.100e+00 5.100e+00 1.110e+01 2.420e+01 1.200e+00 7.600e+00
 1.140e+01 1.390e+01 1.200e+00 1.290e+01 3.400e+00 4.370e+01 3.200e+01
 2.300e+00 8.600e+00 1.070e+01 4.600e+01 1.540e+02 3.200e+00 1.080e+01
 9.140e+01 0.000e+00 2.020e+01 8.000e-01 7.250e+01 4.700e+00 1.280e+01
 2.800e+00 1.130e+01 4.100e+00 2.700e+01 4.880e+01 4.460e+01 4.000e+00
 1.820e+01 1.660e+01 4.580e+01 3.420e+01 3.600e+00 2.700e+00 6.750e+01
 5.500e+00 4.070e+01 1.500e+01 6.900e+00 5.100e+00 7.830e+01 1.420e+01
 3.020e+01 1.207e+02 3.750e+01 5.680e+01 1.530e+01 4.290e+01 2.000e+00
 1.600e+00 8.900e+00 1.430e+01 1.500e+01 9.600e+00 4.180e+01 8.000e+00
 1.770e+01 1.710e+01 4.000e+01 2.710e+01 1.050e+01 4.430e+01 1.330e+01
 1.480e+01 6.320e+01 3.500e+00 7.300e+00 1.030e+01 5.200e+00 1.370e+01
 4.500e+00 2.500e+00 1.740e+01 1.290e+01 1.050e+01 4.120e+01 1.040e+01
 5.250e+01 2.080e+01 1.760e+01 2.190e+01 1.800e+01 2.540e+01 1.510e+01
 2.630e+01 2.330e+01 4.580e+01 4.760e+01 2.850e+01 2.540e+01 3.080e+01
 2.400e+01 1.570e+01 2.730e+01 4.440e+01 2.400e+01 3.200e+00 1.750e+01
 1.760e+01 1.120e+01 2.690e+01 2.240e+01 5.740e+01 4.180e+01 2.740e+01
 4.590e+01 4.000e+00 1.140e+01 1.080e+01 7.000e-01 1.300e+01 5.100e+00
 1.790e+01 4.200e+00 7.700e+00 3.000e+00 3.850e+01 4.900e+00 2.300e+00
 9.100e+00 6.400e+00 1.100e+01 1.000e-01 4.400e+00 3.100e+00 8.500e+00
 1.660e+01 4.700e+00 3.700e+00 4.300e+01 5.700e+00 7.000e-01 5.300e+00
 3.900e+00 6.200e+00 1.000e+00 9.100e+00 7.800e+00 2.500e+00 3.200e+00
 1.400e+00 6.700e+00 4.700e+00 7.200e+00 8.000e+00 0.000e+00 6.000e-01
 2.300e+00 8.500e+00 1.260e+01 1.280e+01 7.900e+00 0.000e+00 7.400e+00
 1.040e+01 6.000e-01 0.000e+00 7.900e+00 6.800e+00 1.260e+01 1.600e+00
 6.100e+00 5.000e+00 8.000e+00 1.090e+01 1.290e+01 1.160e+01 2.300e+00
 2.700e+00 1.110e+01 1.920e+01 1.140e+01 1.020e+01 9.000e+00 3.840e+01
 3.840e+01 1.030e+01 2.990e+01 3.010e+01 3.820e+01 2.380e+01 4.040e+01
 2.710e+01 1.014e+02 4.180e+01 9.600e+00 2.260e+01 1.690e+01 2.410e+01
 4.580e+01 8.600e+00 1.670e+01 3.780e+01 1.240e+01 3.270e+01 1.690e+01
 1.360e+01 1.100e+01 4.910e+01 1.290e+01 1.950e+01 6.690e+01 6.000e-01
 1.770e+01 7.200e+00 1.400e+01 1.610e+01 6.540e+01 5.200e+00 1.800e+00
 2.000e-01 7.000e-01 2.000e+00 1.400e+01 2.600e+00 7.800e+00 2.100e+01
 3.720e+01 1.770e+01 8.000e-01 7.000e+00 6.000e-01 2.545e+02 4.300e+00
 0.000e+00 1.000e-01 0.000e+00 2.000e-01 6.000e-01 1.400e+00 1.000e-01
 6.000e-01 0.000e+00 9.000e-01 9.000e-01 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.110e+01 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 3.600e+00 6.200e+00 4.800e+00 5.100e+00 3.600e+00 3.300e+00
 1.210e+01 1.410e+01 5.500e+00 7.900e+00 1.500e+01 1.160e+01 4.620e+01
 1.300e+01 3.250e+01 1.500e+01 1.630e+01 1.540e+01 1.500e+01 1.700e+01
 1.680e+01 4.040e+01 1.250e+01 1.920e+01 1.240e+01 3.900e+01 1.370e+01
 4.130e+01 1.910e+01 1.830e+01 1.560e+01 1.560e+01 1.480e+01 1.580e+01
 1.510e+01 1.320e+01 2.230e+01 3.450e+01 1.600e+01 9.200e+00 1.170e+01
 2.860e+01 2.420e+01 1.140e+01 1.446e+02 1.570e+01 2.540e+01 1.630e+01
 1.540e+01 1.510e+01 2.530e+01 1.670e+01 7.900e+00 1.330e+01 3.340e+01
 2.040e+01 1.020e+01 2.820e+01 1.950e+01 1.780e+01 1.500e+01 1.490e+01
 7.800e+00 2.000e+01 2.210e+01 8.600e+00 2.510e+01 7.500e+00 1.500e+01
 1.640e+01 2.620e+01 1.090e+01 3.000e+00 2.040e+01 1.050e+01 1.140e+01
 1.170e+01 3.540e+01 1.580e+01 1.640e+01 1.050e+01 5.020e+01 4.130e+01
 2.760e+01 1.690e+01 1.910e+01 5.040e+01 2.250e+01 1.790e+01 1.750e+01
 1.440e+01 1.370e+01 1.030e+01]

In [20]:
score = 0
#test_labels = life_array    #[[5, 19, 76], [4, 18, 4], [3, 13, 219], [3, 14, 69]]
for i in range(len(predictions)):
    if np.any(predictions[i]) == np.any(labels[i]):
        score += 1
print((score/len(predictions)) * 100)

87.77777777777777

In [21]:
#list(le.inverse_transform([42]))  # Returns Commands/Ships and indexes 0 - 248

In [22]:
mean_squared_error(life_array, predictions) ** (1/2)

13.566474200108967

In [23]:
clf.score(features, labels)

0.8296357538274493